.center.jumbotron
  %h1 Welcome to the Sample Apple
  %h2
    This is the home page for
    %a{:href => "http://www.railstutorial.org"} Ruby on rails tutorial
    sample app
  = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"
