<%= provide(:title, "Edit user") %>
<h1>Edit your account</h1>
<div class="row">
	<div class="form-group col-md-6 offset-md-3">
		<%= render 'shared/error_messages', obj: @user %>
		<%= render 'shared/form' %>

		<div class="gravatar_edit">
	  	<%= gravatar_for @user %>
	  	<a href="http://gravatar.com/emails" target="_blank">change</a>
		</div>
	</div>
</div>