<% if obj.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-danger">
			The form contains <%= pluralize(obj.errors.count, 'error') %>
		</div>
		<% obj.errors.full_messages.each do |msg| %>
			<ul>
				<li><%= msg %></li>
			</ul>
			<% end %>		
	</div>
<% end %>