<header>
	<div class="container">
		<nav class="navbar fixed-top bg-dark navbar-light">
			<%= link_to "Sample Apple", root_path, id: "logo"  %>
			<ul class="nav justify-content-end">			
				<li class="nav-item"><%= link_to "Home", root_path, class: "nav-link disabled"  %></li>
				<li class="nav-item"><%= link_to "Help", help_path, class: "nav-link disabled"  %></li>
				<li class="nav-item"><%= link_to "Log in",     '#', class: "nav-link disabled"  %></li>
			</ul>
		</nav>
	</div>
</header>